log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
vendor/plugins/what_column/MIT-LICENSE
vendor/plugins/what_column/README.markdown
vendor/plugins/what_column/Rakefile
vendor/plugins/what_column/init.rb
vendor/plugins/what_column/install.rb
vendor/plugins/what_column/lib/what_column.rb
vendor/plugins/what_column/lib/what_column_migrator.rb
vendor/plugins/what_column/tasks/what_column_tasks.rake
vendor/plugins/what_column/test/migration_test.rb
vendor/plugins/what_column/test/rails_root/.gitignore
vendor/plugins/what_column/test/rails_root/app/models/abstract_user.rb
vendor/plugins/what_column/test/rails_root/app/models/admin_authorizer.rb
vendor/plugins/what_column/test/rails_root/app/models/admin_user.rb
vendor/plugins/what_column/test/rails_root/app/models/authorizer.rb
vendor/plugins/what_column/test/rails_root/app/models/shop/product.rb
vendor/plugins/what_column/test/rails_root/app/models/user.rb
vendor/plugins/what_column/test/rails_root/app/models/user_methods.rb
vendor/plugins/what_column/test/rails_root/config/boot.rb
vendor/plugins/what_column/test/rails_root/config/database.yml
vendor/plugins/what_column/test/rails_root/config/environment.rb
vendor/plugins/what_column/test/rails_root/config/environments/development.rb
vendor/plugins/what_column/test/rails_root/config/environments/test.rb
vendor/plugins/what_column/test/rails_root/config/initializers/new_rails_defaults.rb
vendor/plugins/what_column/test/rails_root/config/initializers/session_store.rb
vendor/plugins/what_column/test/rails_root/config/initializers/what_column.rb
vendor/plugins/what_column/test/rails_root/config/locales/en.yml
vendor/plugins/what_column/test/rails_root/config/routes.rb
vendor/plugins/what_column/test/rails_root/db/migrate/20090329153030_create_users.rb
vendor/plugins/what_column/test/rails_root/db/migrate/20090329180225_create_products.rb
vendor/plugins/what_column/test/rails_root/db/schema.rb
vendor/plugins/what_column/test/test_helper.rb
vendor/plugins/what_column/test/what_column_test.rb
vendor/plugins/what_column/uninstall.rb