<div class="grid_12">
  <h2>Edit Account</h2>
  
  <% form_for @user do |f| %>
    <%= render :partial => "form", :object => f %>
    <div>
      <button type="submit" class="button positive">
        <%= image_tag "led-icons/accept.png", :alt => "" %> Update
      </button> 
      <a href="<%= user_path(@user) %>" class="button negative">
        <%= image_tag "led-icons/cross.png", :alt => "" %> Back
      </a>
    </div>
  <% end %>
</div>
