<%= render :partial => 'alleles/show_distribution_centre_qc_title', :locals => { :symbol => symbol } %>
<td><%= distribution_qc.select( symbol, DISTRIBUTION_CENTRE_QC_OPTIONS[symbol.to_s][:values], { :include_blank => true } ) %></td>
