<% @readonly = defined?(readonly) && readonly %>

<%= render :partial => 'alleles/show_distribution_centre_qc_title', :locals => { :symbol => symbol } %>

<%#= debug symbol %>

<% if @readonly %>
  <td><%= print_dash_on_empty(distribution_qc.object[symbol]) %></td>
<% else %>
  <td><%= distribution_qc.select( symbol, DISTRIBUTION_CENTRE_QC_OPTIONS[symbol.to_s][:values], { :include_blank => true, :name => 'whatever' } ) %></td>
<% end %>
