<p class='distribution_centres_warning'>You don't appear to have a Distribution Centre. If you want to add Distribution Centre QC please contact us
<a href= "mailto:htgt@sanger.ac.uk?subject=<%= current_user.username %> does not have a Centre in Targ Rep&body=Please add the following Centre for <%= current_user.username %> :" >here</a>
</p>
