<th width="24%">
  <%= name %> 
  <% unless @qc_field_descs[symbol].nil? %>
    <% if @qc_field_descs[symbol].url and !@qc_field_descs[symbol].url.empty? %>
      <a href="<%= @qc_field_descs[symbol].url %>" target="_blank" class="ss_sprite ss_help" title="<%= @qc_field_descs[symbol].description %>" style="text-decoration:none;">&nbsp;</a>
    <% else %>
      <span class="ss_sprite ss_help" title="<%= @qc_field_descs[symbol].description %>">&nbsp;</span>
    <% end %>
  <% end %>
</th>
