<h2>Create an allele</h2>

<% form_for @allele do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :allele => @allele } %>
  
  <div id="buttons" class="span-24 last">
    <p>
      <button type="submit" class="button positive">
        <%= image_tag "led-icons/accept.png", :alt => "" %> Create
      </button>
      <a href="<%= url_for(alleles_path) %>" class="button negative">
        <%= image_tag "led-icons/cross.png", :alt => "" %> Cancel
      </a>
    </p>
  </div>
<% end %>