<h2>Create an allele</h2>

<% form_for @targeting_vector do |f| %>
  <%= render :partial => 'form', :locals => 
    { :f => f, :molecular_structure => @targeting_vector.molecular_structure } %>
  <p>
    <button type="submit" class="button positive">
      <%= image_tag "led-icons/accept.png", :alt => "" %> Create
    </button>
    <a href="<%= url_for targeting_vectors_path %>" class="button negative">
      <%= image_tag "led-icons/cross.png", :alt => "" %> Cancel
    </a>
  </p>
<% end %>