<div class="grid_12">
  <h2>Reports</h2>

  <ul>
    <li><%= link_to "image drawing errors", "#{root_path}downloads/image_drawing_errors.csv" %></li>
  </ul>
  <ul>
    <li><%= link_to "es cells not transferred from HTGT", "#{root_path}downloads/htgt_discrepacies_esc_report.csv" %></li>
    <li><%= link_to "targeting vectors not transferred from HTGT", "#{root_path}downloads/htgt_discrepacies_tv_report.csv" %></li>
    <li><%= link_to "intermediate vectors not transferred from HTGT", "#{root_path}downloads/htgt_discrepacies_iv_report.csv" %></li>
  </ul>
</div>
